{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-primary">All User Profiles</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Profile</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_profiles %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.profile }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}